<!DOCTYPE html>
<html>
  <head>
    <title><%= user.firstName %>'s Fazbook</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome <%= user.firstName %></h1>
      <div>
      <span><%= user.firstName %></span>
      <span><%= user.lastName %></span>
      <p><%= user.email %></p>
      <p><%= moment(user.dob).format('MM DD YYYY') %></p>
      
      <a href="<%= '/users/' + user.id + '/edit'%>">Edit</a>
      <a href='/users'>Home</a>
      </div>
  </body>
</html>
